<nsca_config>
	<data_providers id="jakis name">
		<data_provider id="jakis name" type="type">
			<additional_data>
				//cokolwiek tutaj
			</additional_data>
		</data_provider>
		<data_provider id="jakis name" type="type">
			<additional_data>
				//cokolwiek tutaj
			</additional_data>
		</data_provider>
	</data_providers>
	<data_consumers id="jakis name">
		<data_consumer id="jakis name" type="type">
			<additional_data>
				//cokolwiek tutaj
			</additional_data>
		</data_consumer>
	</data_consumers>
	<clients id="jakis name">
		<client id="jakies id">
			<aaa_data>
				<aaa_module type="type">
					//cokolwiek tutaj
				</aaa_module>
				<aaa_module type="type"/>
			</aaa_data>
		</client>
	</clients>
	<routes>
		<route client="iGrupa::id lub *" via="jakis provider lub *" to="jakis consumer lub *"/>
	</routes>
</nsca_config>
